h2 {
    text-align: center;
}

.main {
    width: 400px;
    margin: auto;
}

table {
    line-height: 40px;
    width: 400px;
    border: none;
    border-collapse: collapse;
}

th {
    background-color: #3facc4;
    color: #fff;
}

th,
td {
    padding-left: 14px;
    text-align: left;
}

td {
    border-bottom: solid 1px #D3D3D3;
}

.center {
    padding-left: 5px;
    text-align: center;
}

tr:hover {
    background-color: #f2f2f2
;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + .check-icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0px 10px;
    vertical-align: middle;
    background: url(../img/check_radio_sheet.png) left top no-repeat;
}

input[type="checkbox"]:checked + .check-icon {
    background: url(../img/check_radio_sheet.png) -19px top no-repeat;
}
